@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navbar {
    width: 100%;
    height: 63px;
    margin: 0 96px 0 0;
    font-size: 1.6rem;
    color: var(--text-color);
}
.nav-link {
    width: 376px; 
    height: 14px; 
    left: 65%; 
    top: 19px; 
    position: absolute;
    display: flex;
}
.navbar a {
    cursor: pointer;
    font-weight: 500;
  }

.nav-menu {
    color: var(--text-color);
    padding-right: 34px;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.nav-menu:last-child {
    padding-right: 0;
}

.logo {
    width: 12vw;
    height: 4.2vh;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.logo-image {
    width: 30px; 
    height: 30px; 
    position: absolute;
}
.logo-title {
    margin-top: 2px; 
    margin-left: 37px; 
    position: absolute; 
    font-size: 1.5rem;
}
.container {
    width: 100vw;
    height: calc(60vh + 23px);
    margin-top: 7rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 1000;
  }

.profile-pic {
    width: 300px;
    height: 300px;
    margin: auto;
}
.background-image {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 50px #fff,      /* inner white */
      inset 20px 0 80px #f0f,   /* inner left magenta short */
      inset -20px 0 80px #0ff,  /* inner right cyan short */
      inset 20px 0 300px #f0f,  /* inner left magenta broad */
      inset -20px 0 300px #0ff, /* inner right cyan broad */
      0 0 50px #fff,            /* outer white */
      -10px 0 80px #f0f,        /* outer left magenta */
      10px 0 80px #0ff;         /* outer right cyan */
}
.divider {
    padding: 6rem;
}
.intro-greeting {
    display: inline-block;
    font-size: 5rem;
    margin-top: 60vh;
}

.intro-name {
    font-size: 5rem;
    font-weight: bold;
    color: var(--main-color);
}
.typewrite-wrap { 
    border-right: 0.08em solid #fff;
    color: var(--text-color);
    font-size: 4rem;
}
.heading{
    font-size: 1.5rem;
    margin-top: 50%;
}
.box {
    display: flex;
    width: 1084px;
    height: 300px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    box-sizing: border-box;
}
.box-container {
    height: auto; 
    flex-shrink: 0;
    flex: 1;
}

.box-container:first-child {
    width: 680px; 
    height: 211px; 
    margin-right: 40px;
    padding-right: 28rem;
}

.box-container:last-child {
    width: 350px; 
    height: 184px; 
}
.stack-title{
    padding: 0 0 20px 0;
}

.stack-icons {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.stack-icons div {
    width: calc(33.33% - 10px);
    height: calc(33.33% - 10px);
    background-color: #121212;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 20px 20px 20px;
    margin-bottom: 20px;
}
  
.stack-icons svg {
    width: 60px;
    height: 60px;    
}
  
.about-title{
    padding: 0 0 20px 0;
}

.about-text{
    width: 650px; 
    text-align: justify; 
    padding: 0 0 20px 0;
}
.github-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

.section-title {
    padding: 0 0 20px 0;
}

.table-title{
    margin-top: 40vh;
    font-size: 2rem;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    width: 72%;
    margin-top: 2rem;
    margin-left: 13vw;
    color: #fff;
    
}

td {
    height: 10px;
    border: 1px solid #9ca6b8;
    border-radius: 2px;
    padding: 5px;
}

.color-0 { background-color: #323946; }
.color-1 { background-color: #9be9a8; }
.color-2 { background-color: #40c463; }
.color-3 { background-color: #30a14e; }
.color-4 { background-color: #216e39; }


.stack-project {
    width: 70vw;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.stack-project div {
    width: calc(33.33% - 10px);
    height: calc(33.33% - 10px);
    background-color: #121212;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 20px 20px 20px;
    margin-bottom: 20px;
}

.project-title{
    margin: 65vh 0 6vh 0;
    font-size: 2.5rem;
}

.list-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .project {
    width: 33.33%;
    height: 300px;
    background-color: #121212;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 20px 20px 20px;
    margin-bottom: 20px;
  }
.screen {
    width: 228px;
    height: 228px;
    top: 0;
    
}
.label {
    height: 29px;
    width: 232px;
    
}
.label .ods-heading {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    height: 29px;
    left: 0;
    top: 7em;
    letter-spacing: 0;
    position: relative;
    white-space: nowrap;
    }
















/*TODO: Ajustar responsividade*/
/* Tela menor que 600px*/
@media only screen and (max-width: 600px) {
    .profile-pic .background-image {
        width: calc(100% - 150px);
        height: calc(100% - 150px);
    }

    .profile-pic {
        margin: auto;
    }
    .intro-greeting {
        margin-top: 85vh;
        font-size: 4rem;
    }
        .intro-name {
        font-size: 4rem;
    }
        .typewrite-wrap { 
        font-size: 3rem;
    }
}

/*TODO: Ajustar responsividade*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .profile-pic .background-image {
        width: calc(100% - 150px);
        height: calc(100% - 150px);
    }

    .profile-pic {
        margin: auto;
    }
    .intro-greeting {
        margin-top: 90vh;
        font-size: 4rem;
    }
        .intro-name {
        font-size: 4rem;
    }
        .typewrite-wrap { 
        font-size: 3rem;
    }
}
    


